@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header{
    background-color: rgba(255, 230, 202, 0.589);

}

.navbar{
    display: flex;
    justify-content:space-between;
}

#banner{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
            padding-bottom: 40px;

}

.brand-name{
    font-size: 1.8rem;
}

.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.navbar li a{
      text-decoration: none;
      font-size: 1.2rem;
      color: black;
}

.banner-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    gap: 30px;
}

.btn{
    background-color: rgb(255, 191, 71);
    font-weight: bold;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
}

.banner-contant h1{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.bannar-img{
    height: 70%;
}
